# Python virtual environments
.venv/
venv/

# CSV files (any folder)
*.csv
**/*.csv
*.ipynb
**/*.ipynb
*.json
**/*.json
!productividad_view.json
*.xls

# Python cache/artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.ps1

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# OS/editor
.DS_Store
Thumbs.db
.vscode/
gestiones.db
